@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --col1: #ffd29c;
  --col0: #DCD1C6;
  --col2: #5c493a;
  --col3: #769CAF;
  --col4: #000000;
  --col5: #7E7D7D;
  --col6: #B7B5B3;
  --col7: #DFDFDF;
  --col8: #F7F7F8;
  --bg-color: var(--col7);
  --second-bg-color: var(--col8);
  --text-color: var(--col4);
  --main-color: var(--col2);
  --fontsizeSmall: .6em;
  --fontsizeMideum: 1em;
  --fontsizeLarg: 1.2em;
  --fontsizeLarger: 2.5em;
  --fontsizeLargest: 3em;
  --fontsizeBigest: 5em;
}

html {
  font-size: 13px;
  overflow-x: hidden;
}

span {
  color: var(--main-color);
}

section {
  min-height: 100vh;
  padding: 10em 9rem 10rem 9rem;
  overflow: hidden;
}
@media (max-width: 1366px) {
  section {
    min-height: auto;
  }
}
@media (max-width: 820px) {
  section {
    padding: 10rem 3% 2em;
  }
}
@media (max-width: 430px) {
  section {
    padding: 5em 1em 5em 1em;
  }
}
section:nth-child(even) {
  background: var(--bg-color);
}
section:nth-child(odd) {
  background: var(--second-bg-color);
}

#home {
  background-color: #1f242d;
}

@media (max-width: 820px) {
  #services,
  #portfolio {
    padding-bottom: 7rem;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.1em 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}
.header .logo {
  background-image: url(../img/9scodes.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 150px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  filter: brightness(0);
  cursor: default;
}
.header .navbar {
  display: flex;
}
@media (max-width: 768px) {
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: none;
  }
  .header .navbar.active {
    display: block;
  }
}
.header .navbar a {
  display: inline-block;
  font-size: var(--fontsizeLarg);
  color: var(--text-color);
  width: 5em;
  text-align: center;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .header .navbar a {
    width: 8em;
    padding: 0.5em 0;
    display: block;
    font-size: var(--fontsizeLarger);
    margin: auto;
    border-bottom: 1px solid var(--main-color);
  }
}
@media (max-width: 430px) {
  .header .navbar a {
    margin: auto;
    font-size: var(--fontsizeLarger);
  }
}
.header .navbar a:hover, .header .navbar a.active {
  color: var(--main-color);
  text-shadow: 0 0 1.5rem var(--main-color);
}
.header #menu-icon {
  font-size: var(--fontsizeLarger);
  color: var(--text-color);
  display: none;
}
@media (max-width: 768px) {
  .header #menu-icon {
    position: absolute;
    right: 0.1em;
    display: block;
  }
}
.header #langNum {
  margin-left: 20px;
  width: 5em;
  text-align: center;
  font-size: var(--fontsizeLarg);
  border: 1px solid var(--col2);
  background-color: var(--second-bg-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

.home {
  position: relative;
  display: flex;
  align-items: end;
  padding-bottom: 0;
}
.home .home-img img {
  max-width: 30vw;
  position: relative;
  margin-left: 10vw;
  border-radius: 10px;
}
@media (max-width: 1366px) {
  .home .home-img img {
    width: 70vw;
    margin-left: 5vw;
    margin-top: 1em;
  }
}
@media (max-width: 820px) {
  .home .home-img img {
    width: 70vw;
    margin-left: 15vw;
    margin-top: 1em;
  }
}
@media (max-width: 768px) {
  .home .home-img img {
    width: 70vw;
    margin-left: 12vw;
    margin-top: 1em;
  }
}
@media (max-width: 430px) {
  .home .home-img img {
    width: 30vw;
    margin-left: 12vw;
    margin-top: 0em;
  }
}
.home .home-img::before {
  content: "";
  background-color: var(--second-bg-color);
  position: absolute;
  width: 40vw;
  height: 30vw;
  left: 10vw;
  top: 20px;
  z-index: -1;
  filter: blur(180px);
}
@media (max-width: 1366px) {
  .home .home-img::before {
    filter: blur(150px);
  }
  .home .home-img::before .home-img {
    margin-left: 0;
  }
}
@media (max-width: 430px) {
  .home .home-img::before {
    filter: blur(80px);
    width: 40vw;
    height: 40vw;
    left: 50%;
    top: 20%;
  }
}
.home .home-content {
  position: absolute;
  left: 45vw;
  width: 100vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
  text-shadow: 0 10px 30rem var(--second-bg-color);
  font-size: large;
}
@media (max-width: 1366px) {
  .home .home-content {
    width: 50vw;
    font-size: var(--fontsizeMideum);
  }
}
@media (max-width: 430px) {
  .home .home-content {
    font-size: var(--fontsizeSmall);
  }
}
.home .home-content h3 {
  display: inline;
  font-weight: 700;
  font-size: var(--fontsizeLarger);
}
@media (max-width: 375px) {
  .home .home-content h3 {
    font-size: 1.3em;
  }
}
.home .home-content h3:nth-of-type(2) {
  margin-bottom: var(--fontsizeLarger);
}
.home .home-content h2 {
  font-size: var(--fontsizeBigest);
  font-weight: 700;
  line-height: 1.3;
  color: var(--col1);
  text-shadow: 1px 2px 10px var(--text-color);
}
@media (max-width: 375px) {
  .home .home-content h2 {
    font-size: var(--fontsizeLargest);
  }
}
.home .home-content .multiple-text {
  color: var(--col8);
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 10em;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--fontsizeLarg);
  height: var(--fontsizeLarg);
  background: transparent;
  border: 0.2rem solid var(--second-bg-color);
  color: var(--second-bg-color);
  border-radius: 50%;
  font-size: var(--fontsizeLarger);
  transition: 0.5s ease;
}
.social-media a:hover {
  background: var(--second-bg-color);
  color: var(--main-color);
  box-shadow: 0 0 1rem var(--(main-color));
}

.btn {
  display: inline-block;
  padding: 1em 2.8em;
  background: var(--main-color);
  border-radius: 4em;
  box-shadow: 0 0 1em var(--main-color);
  font-size: var(--fontsizeLarg);
  color: var(--second-bg-color);
  letter-spacing: 0.1em;
  font-weight: 600;
  transition: 0.5s ease;
  margin: 1em;
}
.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}
@media (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
  }
}
.about .about-img img {
  width: 25vw;
  border-radius: 30% 10%;
  box-shadow: 0 10px 20px var(--bg-color);
  animation: floatImage 4s ease-in-out infinite;
}
@media (max-width: 768px) {
  .about .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }
}

@media (max-width: 430px) {
  .about-content {
    max-width: 100%;
  }
}
.about-content h2 {
  font-size: var(--fontsizeBigest);
  text-align: left;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .about-content h2 {
    text-align: center;
  }
}
@media (max-width: 430px) {
  .about-content h2 {
    font-size: 0.1em;
  }
}
.about-content h3 {
  font-size: 2.6rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  line-height: 1.5em;
}

.services h2 {
  text-align: center;
  font-size: var(--fontsizeBigest);
  margin-bottom: 1em;
}
.services .services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.services .services-container .services-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2em;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
  position: relative;
}
.services .services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}
.services .services-container .services-box i {
  font-size: var(--fontsizeBigest);
  color: var(--main-color);
  margin-bottom: 20px;
}
.services .services-container .services-box h3 {
  font-size: var(--fontsizeLarger);
}
.services .services-container .services-box p {
  font-size: var(--fontsizeLarg);
  margin: 1rem 0 3rem;
  text-align: justify;
  line-height: 1.5em;
}
.services .services-container .services-box ul {
  font-size: var(--fontsizeMideum);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
  margin-bottom: 3rem;
}

.portfolio {
  background: var(--second-bg-color);
}
.portfolio h2 {
  text-align: center;
  font-size: var(--fontsizeBigest);
  margin-bottom: 1em;
}
.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  align-items: center;
  gap: 2.5rem;
}
@media (max-width: 820px) {
  .portfolio .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .portfolio .portfolio-container {
    grid-template-columns: 1fr;
  }
}
.portfolio .portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}
.portfolio .portfolio-container .portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  color: var(--second-bg-color);
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  text-align: center;
  padding: 10px 4rem;
  transform: translateY(80%);
}
@media (max-width: 820px) {
  .portfolio .portfolio-container .portfolio-box .portfolio-layer {
    padding: 5px 4rem;
  }
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer h4 {
  font-size: 2rem;
  margin: 0.2em 0 2em 0;
}
@media (max-width: 820px) {
  .portfolio .portfolio-container .portfolio-box .portfolio-layer h4 {
    font-size: 0.1em;
  }
}
@media (max-width: 430px) {
  .portfolio .portfolio-container .portfolio-box .portfolio-layer h4 {
    font-size: 2rem;
  }
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer a i {
  color: var(--second-bg-color);
  font-size: 2rem;
}
.portfolio .portfolio-container .portfolio-box:hover img {
  transform: scale(1.2);
}
.portfolio .portfolio-container .portfolio-box:hover .portfolio-layer {
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--main-color));
  transition: 0.5s ease;
  transform: translateY(0);
}

.certification h2 {
  text-align: center;
  font-size: var(--fontsizeBigest);
  margin-bottom: 1em;
}
.certification .cert_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 820px) {
  .certification .cert_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .certification .cert_container {
    grid-template-columns: 1fr;
  }
}
.certification .cert_container .cert_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--second-bg-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  transition: 0.5s ease;
  overflow: hidden;
  cursor: pointer;
}
.certification .cert_container .cert_box img {
  transform: scale(0.9);
}
.certification .cert_container .cert_box:hover {
  border-color: var(--main-color);
}
.certification .cert_container .cert_box:hover img {
  transform: scale(1);
}

@media (max-width: 820px) {
  .contact {
    min-height: auto;
  }
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 430px) {
  .contact form .input-box input {
    width: 100%;
  }
}
.contact form .input-box input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}
.contact form .input-box .input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove phone number input box narow */
/* Firefox */
/* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact form .input-box input,
.contact form textarea {
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
.contact form .input-box input {
  width: 49%;
}
.contact form textarea {
  width: 100%;
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}
@media (max-width: 820px) {
  .footer {
    padding: 2rem 3%;
  }
}
.footer .footer-text p {
  font-size: 1.6rem;
}
.footer .footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  transition: 0.5s ease;
}
.footer .footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
.footer .footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}