@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
@import 'mixin';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  // font-family: 'Noto Serif TC', serif;
}

:root {
  --col1: #ffd29c;
  --col0: #DCD1C6;
  --col2: #5c493a;
  --col3: #769CAF;
  --col4: #000000;
  --col5: #7E7D7D;
  --col6: #B7B5B3;
  --col7: #DFDFDF;
  --col8: #F7F7F8;
  --bg-color: var(--col7);
  --second-bg-color: var(--col8);
  --text-color: var(--col4);
  --main-color: var(--col2);
  --fontsizeSmall: .6em;
  --fontsizeMideum: 1em;
  --fontsizeLarg: 1.2em;
  --fontsizeLarger: 2.5em;
  --fontsizeLargest: 3em;
  --fontsizeBigest: 5em;

}

html {
  font-size: 13px;
  overflow-x: hidden;
}

span {
  color: var(--main-color);
}

section {
  min-height: 100vh;
  padding: 10em 9rem 10rem 9rem;
  overflow: hidden;

  @include padPro() {
    min-height: auto;
  }

  @include padAir {
    padding: 10rem 3% 2em;
  }
  @include iphone{
    padding: 5em 1em 5em 1em;
  }

  &:nth-child(even) {
    background: var(--bg-color);
  }

  &:nth-child(odd) {
    background: var(--second-bg-color);
  }
}

#home {
  background-color: #1f242d;
}

#services,
#portfolio {
  @include padAir {
    padding-bottom: 7rem;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .1em 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  &.sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  }

  @include padAir {
    // padding: 2rem 3%;
  }

  .logo {
    background-image: url(../img/9scodes.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 150px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    filter: brightness(0);
    cursor: default;
  }


  .navbar {
    display: flex;

    @include padMini {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background: var(--bg-color);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
      display: none;

      &.active {
        display: block;
      }
    }

    a {
      display: inline-block;
      font-size: var(--fontsizeLarg);
      color: var(--text-color);
      width: 6em;
      text-align: center;
      transition: .3s;
      @include padPro{
        width: 5em;
      }

      @include padMini {
        width: 8em;
        padding: .5em 0;
        display: block;
        font-size: var(--fontsizeLarger);
        margin: auto;
        border-bottom: 1px solid var(--main-color);
      }

      @include iphone {
        margin: auto;
        font-size: var(--fontsizeLarger);
      }

      &:hover,
      &.active {
        color: var(--main-color);
        text-shadow: 0 0 1.5rem var(--main-color);
      }
    }
  }

  #menu-icon {
    font-size: var(--fontsizeLarger);
    color: var(--text-color);
    display: none;

    @include padMini {
      position: absolute;
      right: .1em;
      display: block;
    }
  }

  #langNum {
    margin-left: 20px;
    width: 5em;
    text-align: center;
    font-size: var(--fontsizeLarg);
    // appearance: none;
    border: 1px solid var(--col2);
    background-color: var(--second-bg-color);
    border-radius: .5rem;
    cursor: pointer;
  }
}

.home {
  position: relative;
  display: flex;
  align-items: end;
  padding-bottom: 0;
  @include iphone{
    min-height: 60vh;
  }

  .home-img {
    img {
      max-width: 30vw;
      position: relative;
      margin-left: 10vw;
      border-radius: 10px;
      @include padPro{
        width: 70vw;
        margin-left: 5vw;
        margin-top: 1em;
      }
      @include padAir{
        width: 70vw;
        margin-left: 15vw;
        margin-top: 1em;
      }
      @include padMini {
        width: 70vw;
        margin-left: 12vw;
        margin-top: 1em;
      }
      @include iphone {
        max-width: 60vw;
        margin-left: -10vw;
        margin-top: 0em;
      }
    }

    &::before {
      content: "";
      background-color: var(--second-bg-color);
      position: absolute;
      width: 40vw;
      height: 30vw;
      left: 10vw;
      top: 20px;
      z-index: -1;
      filter: blur(180px);

      @include padPro {
        filter: blur(150px);
        .home-img {
          margin-left: 0;
        }
      }

      @include iphone {
        filter: blur(60px);
        width: 40vw;
        height: 40vw;
        left: 50%;
        top: 20%;
      }
    }
  }

  .home-content {
    position: absolute;
    left: 45vw;
    width: 100vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
    text-shadow: 0 10px 30rem var(--second-bg-color);
    font-size: large;
    @include padPro {
      width: 50vw;
      font-size: var(--fontsizeMideum);
    }
    @include iphone{
      font-size: var(--fontsizeSmall);
    }

    h3 {
      display: inline;
      font-weight: 700;
      font-size: var(--fontsizeLarger);
      text-shadow: 1px 2px 5px var(--main-color);
      @include iphone{
        font-size: var(--fontsizeLarg);
      }
      
      @include iphoneMini{
        font-size: 1.5em;
      }
      &:nth-of-type(2) {
        margin-bottom: var(--fontsizeLarger);
      }
    }

    h2 {
      font-size: var(--fontsizeBigest);
      font-weight: 700;
      line-height: 1.3;
      color: var(--col1);
      text-shadow: 1px 2px 10px var(--text-color);
     
      @include iphoneMini{
        font-size: var(--fontsizeLargest);
      }
    }

    .multiple-text {
      color: var(--col8);
    }
  }
}


.social-media {
  display: flex;
  justify-content: space-between;
  //  animation: floatImage 4s ease-in-out infinite;
  width: 10em;
  a {
    display: inline-flex;
    box-shadow: 1px 1px 5px var(--col1);
    justify-content: center;
    align-items: center;
    width: var(--fontsizeLarg);
    height: var(--fontsizeLarg);
    background: transparent;
    border: 0.12em solid var(--second-bg-color);
    color: var(--second-bg-color);
    border-radius: 50%;
    padding: .7em;
    font-size: var(--fontsizeLarger);
    transition: .5s ease;

    &:hover {
      background: var(--main-color);
      // color: transparent;
      border-color: transparent;
      text-shadow: unset;
      box-shadow: unset;
    }

  }
}

.btn {
  display: inline-block;
  padding: 1em 2.8em;
  background: var(--main-color);
  border-radius: 4em;
  box-shadow: 0 0 1em var(--main-color);
  font-size: var(--fontsizeLarg);
  color: var(--second-bg-color);
  letter-spacing: .1em;
  font-weight: 600;
  transition: .5s ease;
  margin: 1em;

  &:hover {
    box-shadow: none;
  }
}

.services{
  h2 {
    text-align: center;
    font-size: var(--fontsizeBigest);
    margin-bottom: 1em;
    @include iphone {
      font-size: var(--fontsizeLargest);
    }
    } 
  .services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    .services-box {
      flex: 1 1 30rem;
      background: var(--second-bg-color);
      padding: 3rem 2rem 4rem;
      border-radius: 2em;
      text-align: center;
      border: 0.2rem solid var(--bg-color);
      transition: .5s ease;
      position: relative;
  
      &:hover {
        border-color: var(--main-color);
        transform: scale(1.02);
      }
      i {
        font-size: var(--fontsizeBigest);
        color: var(--main-color);
        margin-bottom: 20px;
      }
      
      h3 {
        font-size: var(--fontsizeLarger);
      }
      
      p {
        font-size: var(--fontsizeLarg);
        margin: 1rem 0 3rem;
        text-align: justify;
        line-height: 1.5em;
      }
      
      ul {
        font-size: var(--fontsizeMideum);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 10px;
        margin-bottom: 3rem;
      }
    }
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);

  @include padMini {
    flex-direction: column-reverse;
  }

  .about-img img {
    width: 25vw;
    border-radius: 30% 10%;
    box-shadow: 0 10px 20px var(--bg-color);
    animation: floatImage 4s ease-in-out infinite;

    @include padMini {
      width: 70vw;
      margin-top: 4rem;
    }
  }
  .about-content {

    // max-width: 100%;
    @include iphone {
      max-width: 100%;
    }
  
    h2 {
      font-size: var(--fontsizeBigest);
      text-align: left;
      line-height: 1.2;
  
      @include padMini {
        text-align: center;
      }
  
      @include iphone {
        font-size: var(--fontsizeLarger);
      }
    }
  
    h3 {
      font-size: var(--fontsizeLarger);
    }
  
    p {
      font-size: var(--fontsizeLarg);
      margin: 2rem 0 3rem;
      line-height: 1.5em;
      text-align: justify;
    }
  }
}

.portfolio {
  background: var(--second-bg-color);
  h2{
    text-align: center;
    font-size: var(--fontsizeBigest);
    margin-bottom: 1em;
    @include iphone {
      font-size: var(--fontsizeLargest);
    }
  }
  
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    align-items: center;
    gap: 2.5rem;
  
    @include padAir {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @include padMini {
      grid-template-columns: 1fr;
    }
  
    .portfolio-box {
      position: relative;
      border-radius: 2rem;
      box-shadow: 0 0 1rem var(--bg-color);
      overflow: hidden;
      display: flex;
  
      img {
        width: 100%;
        transition: .5s ease;
      }
  
      .portfolio-layer {
        font-size: medium;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        color: var(--second-bg-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        text-align: center;
        padding: .5em 2em;
        transform: translateY(80%);
        
        @include padAir {
          padding: 5px 4rem;
        }
  
        h4 {
          font-size: var(--fontsizeLarg);
          margin: .2em 0 1em 0;
  
          @include padPro {
            font-size: var(--fontsizeSmall);
          }
  
          @include iphone {
            font-size: var(--fontsizeLarg);
          }
        }
  
        p {
          font-size: var(--fontsizeMideum);
          margin: .3rem 0 1em;
          @include padPro{
            font-size: var(--fontsizeSmall);
          }
          @include iphone{
            display: none;
          }
        }
  
        a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 1em;
          background: var(--text-color);
          border-radius: 50%;
  
          i {
            color: var(--second-bg-color);
            font-size: 2rem;
          }
        }
      }
  
      &:hover img {
        transform: scale(1.2);
      }
  
      &:hover .portfolio-layer {
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgba(0, 0, 0, 0.5), var(--main-color));
        transition: .5s ease;
        transform: translateY(0);
      }
    }
  }
}



.certification {

  h2{
    text-align: center;
    font-size: var(--fontsizeBigest);
    margin-bottom: 1em;
    @include iphone {
      font-size: var(--fontsizeLargest);
    }
  }
  .cert_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    @include padAir {
      grid-template-columns: repeat(2, 1fr);
    }

    @include padMini {
      grid-template-columns: 1fr;
    }

    .cert_box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid var(--second-bg-color);
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 20%);
      margin: 10px;
      transition: 0.5s ease;
      overflow: hidden;
      cursor: pointer;

      img {
        transform: scale(0.9);
      }

      &:hover {
        border-color: var(--main-color);

        img {
          transform: scale(1);
        }
      }

    }
  }
}

.contact {

  //   h2 {
  //     margin-bottom: 3rem;
  //   }
  @include padAir {
    min-height: auto;
  }

  form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

    .input-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      input {
        @include iphone {
          width: 100%;
        }
      }

      input[type='number'] {
        -moz-appearance: textfield;
        appearance: none;
      }

      .input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

/* Remove phone number input box narow */
/* Firefox */

/* Chrome, Safari, Edge, Opera */

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact form {

  .input-box input,
  textarea {
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
  }

  .input-box input {
    width: 49%;
  }

  textarea {
    width: 100%;
    resize: none;
  }

  .btn {
    margin-top: 2rem;
    cursor: pointer;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);

  @include padAir {
    padding: 2rem 3%;
  }

  .footer-text p {
    font-size: 1.6rem;
  }

  .footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    transition: .5s ease;

    &:hover {
      box-shadow: 0 0 1rem var(--main-color);
    }

    i {
      font-size: 2.4rem;
      color: var(--second-bg-color);
    }
  }
}