@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
@import 'mixin';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Noto Serif TC', serif;
}

:root {
  --bg-color:#1f242d;
  --second-bg-color:#323946;
  --text-color:#fff;
  --main-color:#0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);

}

section {
  min-height: 100vh;
  padding: 10rem 9rem 10rem 9rem;
  @include padPro(){
    min-height: auto;
  }
  &:nth-child(even){
    background: var(--bg-color);
  }
  &:nth-child(odd){
    background: var(--second-bg-color);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  &.sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  }
}

.logo {
  background-image: url(../img/9scodes.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 150px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;

  &:hover, &.active {
    color: var(--main-color);
    text-shadow: 0 0 0.5rem var(--main-color);
  }
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  position: relative;
  display: flex;
//   justify-content: center;
  align-items:end;
  padding-bottom: 0;
  .home-img img {
    max-width: 30vw;
    position: relative;
    margin-left: 10vw;
    border-radius: 20px;
    @include iphone{
        max-width: 45vw;
    }
  
    /* animation: floatImage 4s ease-in-out infinite; */
   
  }
  .home-img{
    &::before{
        content: "";
        background-color: var(--text-color);
        position: absolute;
        width: 40vw;
        height: 30vw;
        left: 30%;
        top: 10%;
        z-index: -1;
        font-size: 500px;
        border-radius: 10%;
        filter: blur(250px);
        opacity: .5;
    }
  }
  .home-content {
    position: absolute;
    left: 45vw;
    width: 40vw;
    bottom: 100px;
    text-shadow: 5px 5px 5px var(--bg-color);
    
    @include padPro{
        width: 45vw;
    }
    h3 {
      font-size: 3.2rem;
      font-weight: 700;
      @include padPro{
        font-size: 3rem;
      }
      @include iphone{
        font-size: 1.2rem;
      }
  
      &:nth-of-type(2) {
        margin-bottom: 2rem;
      }
      

    }
    h2 {
        font-size: 10rem;
        font-weight: 700;
        line-height: 1.3;
        @include padPro{
            font-size: 7rem;
        }
        @include iphone{
            font-size: 5rem;
        }
    }
    
    .block {

        text-align: center;


    }
  }
}
span {
    color: var(--main-color);
  }

.social-media{
    display: flex;
    justify-content: center;

}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  color: var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  margin: 3rem 1rem 3rem 1rem;
  transition: .5s ease;

  &:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--(main-color));
  }
  @include padPro{
    margin: 1rem 1rem 1rem 1rem;
  }
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
  margin: 15px;

  &:hover {
    box-shadow: none;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.about-img img {
  width: 35vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content {
  h2 {
    text-align: left;
    line-height: 1.2;
  }

  h3 {
    font-size: 2.6rem;
  }

  p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 1.5em;
  }
}

.services h2 {
  margin: 5rem auto;
}

.services-container {
  display: flex;
  justify-content: center;

  /* align-items: center; */
  flex-wrap: wrap;
  gap: 2rem;

  .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: .5s ease;
    position: relative;

    &:hover {
      border-color: var(--main-color);
      transform: scale(1.02);
    }
  }
}

.services-box {
  i {
    font-size: 7rem;
    color: var(--main-color);
  }

  h3 {
    font-size: 2.6rem;
  }

  p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    text-align: justify;
    line-height: 1.5em;
  }

  ul {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
    margin-bottom: 3rem;
  }

  .btn {
    position: absolute;
    bottom: 15px;
    left: 30%;
    right: 30%;
  }
}

.portfolio {
  background: var(--second-bg-color);

  h2 {
    margin-bottom: 4rem;
  }
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;

  .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
  }
}

.portfolio-box {
  img {
    width: 100%;
    transition: .5s ease;
  }

  &:hover img {
    transform: scale(1.1);
  }
  &:hover .portfolio-layer{
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), var(--main-color));
    transition: .5s ease;
  }

  .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--second-bg-color);
    display: flex;
    justify-content:flex-start;
    align-items:start;
    flex-direction: column;
    text-align: center;
    padding: 10px 4rem;
    transform: translateY(80%);
    // transition: .5s ease;

    h4 {
        font-size: 3rem;
        margin-bottom: 5px;
      }
    
      p {
        font-size: 1.6rem;
        margin: .3rem 0 1rem;
      }
    
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        background: var(--text-color);
        border-radius: 50%;
    
        i {
          color: var(--second-bg-color);
          font-size: 2rem;
        }
      }
  }

  &:hover .portfolio-layer {
    transform: translateY(0);
  }
}


.certification{
    h2{
        margin-bottom: 20px;
    }
    .cert_container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        .cert_box{
            display: block;
            padding: 10px;
            border-radius: 10px;
            // background-color: var(--second-bg-color);
            border: 1px solid var(--second-bg-color);
            margin: 10px;
            text-align: center;
            transition: 0.5s ease;
            cursor: pointer;
            &:hover{
                border-color: var(--main-color);
                img{
                    transform: scale(1.1);
                }
            } 
        
        }
    }
}

.contact {
  h2 {
    margin-bottom: 3rem;
  }

  form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

    .input-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      input[type='number'] {
        -moz-appearance: textfield;
        appearance: none;
      }

      .input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

/* Remove phone number input box narow */
/* Firefox */

/* Chrome, Safari, Edge, Opera */

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact form {
  .input-box input, textarea {
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
  }

  .input-box input {
    width: 49%;
  }

  textarea {
    width: 100%;
    resize: none;
  }

  .btn {
    margin-top: 2rem;
    cursor: pointer;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  transition: .5s ease;

  &:hover {
    box-shadow: 0 0 1rem var(--main-color);
  }

  i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
  }
}

/* BREAK POINT */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home-img {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .services, .portfolio {
    padding-bottom: 7rem;
  }

  .portfolio-container, .cert_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: none;

    &.active {
      display: block;
    }

    a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
    }
  }
  .home-content {
    h3 {
      font-size: 2.6rem;
    }

    h1 {
      font-size: 5rem;
    }
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;

    img {
      width: 70vw;
      margin-top: 4rem;
    }
  }

  .services h2, .portfolioh2 {
    margin-bottom: 3rem;
  }
}

@media (max-width: 617px) {
  .portfolio-container .cert_container{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .home-img img, .about-img img {
    width: 90vw;
  }

  .footer {
    flex-direction: column-reverse;

    p {
      text-align: center;
      margin-top: 2rem;
    }
  }
}
