
header{
    width: 100%;
    .navBar {
      position:fixed;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb($blackColor, 75%);
      @include iphone(){
        height: 8vh;
      }
      z-index: 2;
      .fa-bars{
        display: none;
        font-size: 26px;
    
        @include iphone(){
          display: inline-block;
          margin-right: 5vw;
        }
      }
    }
    
    .logo {
      font-size: 24px;
      font-weight: 700;
      padding: 16px 0;
      margin-left: 10vw;
      @include pad{
        margin-left: 5vw;
      }
    }
    
    .menu {
      display: flex;
      margin-right: 5vw;
    
      li a {
        padding: 16px;
        &:hover{
          text-shadow: 0px 0px 10px $whiteColor;
          font-weight: 600;
        }
      }
    
      @include iphone(){
        display: none;
        height: 0;
        overflow: hidden;
      }
    }
  }
  
  body.showBurger .menu{
    @include iphone(){
      display: block;
      position: absolute;
      top: 8vh;
      background-color: rgb($blackColor, 75%);
      width: 100%;
      height: auto;
      padding: 10px 10px;
      li a {
        display: block;
        line-height: 26px;
        width: 100%;
        text-align: center;
      }
    }
  }