.produce{
    .containerP3{
        // position: relative;
        margin-top: 48px;
        @include pad(){
            max-width: 95%;
        }
        @include padPro(){
            max-width: 90%;
        }
        @include iphone(){
            @include flexCol;
        }
        .sideMenu{
            float: left;
            width: 220px;
            @include iphone(){
                width: 100%;
            }
            .menuList{
                h2{
                    margin-bottom: 16px;
                }
                ul.proCategories{
                    li{
                        a{
                            display: block;
                            font-size: 16px;
                            border-bottom: 1px solid $mainColor;
                            padding: 8px;
                            cursor: default;
                            &.active, &:hover{
                                background-color: $mainColor;
                                color: $whiteColor;
                            }
                        }
                    }
                }
            }
        }
        .mainContain{
            min-height: 50vh;
            // background-color: red;
            margin-left: 240px;
            @include iphone(){
            margin-top: 20px;
            margin-left: unset;
        }
            @include flexCol();
            .toolBar{
                @include flexSB();
                @include iphone(){
                    @include flexCol;
                }
                .searchBar{
                    width: 66%;
                    position: relative;
                    @include iphone(){
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    #search{
                        display: inline;
                        width: 100%;
                        font-size: 16px;
                        padding: 3px;
                        height: 100%;
                    }
                    a{
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 32px;
                        cursor: pointer;
                        background-color: $mainColor;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .fa-solid{
                            color: $whiteColor;
                            font-size: 1.2em;
                        }
                        
                    }

                }
                .fuctionLinks{
                    @include flexSB();
                    align-items: center;
                    @include iphone(){
                        justify-content: flex-end;
                    }
                    a{
                        font-size: 16px;
                        font-weight: 100;
                        border-right: 1px solid $mainColor;
                        padding: 0 12px;
                        &:last-child{
                            border-right: none;
                        }
                        .fa-cart-shopping{
                            color: $mainColor;
                            font-size: 26px;
                            position: relative;
                        }
                        .inCart{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            font-size: 10px;
                            border-radius: 50%;
                            background-color: $btnPrimerycolor;
                            color: $whiteColor;
                            width: 15px;
                            height: 15px;
                            right: -5px;
                            top: -5px;
                        }
                    }
                }
            }
            .itemList{
                .itemContainer{
                    margin-top: 26px;
                    @include flexSB();
                    flex-wrap: wrap;
                    .itemBox{
                        overflow: hidden;
                        text-align: center;
                        position: relative;
                        padding: 10px;
                        margin-bottom: 20px;
                        width: 33%;
                        @include pad{
                            width: 50% ;
                        }
                        @include padPro{
                            width: 50%;
                        }
                        @include iphone(){
                            width: 100%;
                        }
                        .hotSale{ 
                            top: 22px;
                            right: -32px;
                            transform: rotate(45deg);
                            font-size: 14px;
                            position: absolute;
                            color: $whiteColor;
                            background-color: $hotSale;
                            display: none;
                            justify-content: center;
                            align-items: center;
                            height: 32px;
                            width: 150px;
                            z-index: 99;
                            
                            &::before,&::after{
                                content: "";
                                position: absolute;
                                z-index: -999;
                            }
                            &::before{  
                                    transform: rotate(-45deg);
                                    border-bottom: 10px solid #029e77;
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    left: 0px;
                                    bottom: -8px;
                                }
                            &::after{
                                transform: rotate(180deg);
                                border-top: 12px solid transparent;
                                border-left: 12px solid #029e77;
                                border-right: 12px solid transparent;
                                bottom: -12px;
                                right: 0px;
                            }  
                        }
                        &.hot{
                            .hotSale{
                                display: flex;
                            }
                        }
                        .item{
                            overflow: hidden;
                            width: 100%;
                            text-align: center;
                            position: relative;
                            box-shadow: 5px 5px 5px rgb(grey , 30%) ;
                            .itemImg{
                                display: flex;
                                width: 100%;
                                overflow: hidden;
                                justify-content: center;
                                align-items: center;
                                @include iphone(){
                                    img{
                                        width: 100%;
                                    }
                                }
                            }
                            &:hover{
                                .itemImg{
                                    img{
                                        transform: scale(1.2);
                                    }
                                }
                            }
                            .liked{
                                position: absolute;
                                left: 10px;
                                top: 10px;
                                cursor: pointer;
                                z-index: 999;
                                >*{
                                    color: $whiteColor;
                                    font-size: 30px;
                                    font-weight: 300;
                                }
                                &.favorite{
                                    >*{
                                        color: $btnPrimerycolor;
                                    }
                                }
                            }
                            .itemInfo{
                                padding: 10px;
                                h3{
                                    font-size: 20px;
                                    // line-height: 1.2;
                                    span{
                                        display: block;
                                        font-size: 12px;
                                        font-weight: 100;
                                        position: relative;
                                        padding: 12px;
                                        &::after{
                                            content: "";
                                            width: 50%;
                                            height: 2px;
                                            background-color: $mainColor;
                                            border: none;
                                            position: absolute;
                                            bottom: 0;
                                            left: 25%;
    
                                        }
                                    }
                                }
                                
                                p{
                                    padding: 20px 0 13px 0;
                                    font-size: 20px;
                                    font-weight: 100;
                                    span{
                                        font-weight: 500; 
                                    }
                                    
                                }
                                .addToCart{
                                    @include btnCart;
                                    width: 100%;
                                }
                            }
                        }
    
                    }

                }
            }
        }
    }
}