.secret{
    padding: 50px 0;
    
    h2{
      text-align: center;
      padding: 10px;
      line-height: 1.5;
      position: relative;
      &::after, &::before{
        content: "";
        position: absolute;
        top: 50%;
        width: 100px;
        height: 1px;
        background-color: $mainColor;
        @include iphone(){
          width: 0;
        }
      }
      &::before{
        left: -50%;
      }
      &::after{
        right: -50%;
      }
    }
    ul{
      display: flex;
      justify-content: space-between;
      @include iphone(){
        flex-direction: column;
      }
      li{
        max-width: 30%;
        font-size: 16px;
        font-weight: 100;
        text-align: center;
        @include iphone(){
          max-width: 100%;
          padding: 30px 0;
        }
        img{
          border-radius: 50%;
          width: 200px;
        }
        h3{
          text-align: center;
          padding: 10px 0;
        }
        p{
          padding: 1%;
          text-align: left;
  
        }
      }
    }
  }