
// screen system:
$laggScreen : 80vw;
$mediumScreen: 98vw;
$smallScreen : 100vw;
// color system:
$mainColor : #3D1101;
$mainYellow: #EFE9E7;
$whiteColor: #fff;
$blackColor: #000;
$btnPrimerycolor: #F56C23;
$hotSale: #00CC99;
$hotSaleSD: #078F6D; 
